<div class="container py-6">
  <div class="columns is-multiline is-mobile ">
    <div class="column is-half is-offset-one-quarter">
      <h3 class="title is-3 has-text-centered is-capitalized ">Login</h3>
      <hr class="mb-4">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <form action="/employee/login" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left ">
                  <input class="input" type="email" placeholder="Email" name="email">
                  <span class="icon is-small is-left ">
							     	<i class="fas fa-envelope email_icon"></i>
							   </span>
                </p>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" name="password">
                  <span class="icon is-small is-left ">
							    <i class="fas fa-lock password_icon "></i>
					  	</span>
                </p>
              </div>
              <div class="field">
                <p class="control mt-4">
                  <a href="/employee/forgot-password" class="has-text-dark">
                    Forgot Password?
                  </a>
                </p>
                <p class="control">
                  <%= link_to "Don't have an account? Sign up now" ,register_path ,class: "has-text-primary" %>
                </p>
                </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-primary" type="submit">
                    Login
                  </button>
                </p>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>