<% if flash[:alert] %>
<div class="notification is-danger flash">
	<button class="delete"></button>
	<%=flash[:alert] %>
</div>
<%end %>
<% if flash[:notice] %>
<div class="notification is-alert flash">
	<button class="delete"></button>
	<%=flash[:notice] %>
</div>
<%end %>