
<div class="section hero_wrapper">
	<div class="container">
		<div class="columns ">
			<div class="column is-one-thirds">
				<div class="card call__action_card_wrapper is-radiusless">
					<div class="card-content is-flex-row is-justify-content-center is-align-content-center ">
							<p class="subtitle is-3">You take care of your <span class="customer">Business,</span></p>
							<p class="subtitle is-3">We take care of your <span class="business">System</span></p>
            <a href="/company/register"><button class="button is-primary btn__action"> Register Now</button> </a>
					</div>
				</div>

			</div>
			<div class="column image__hero is-two-thirds">
				<div class="contact_img_wrapper">
					<%= image_tag('undraw_towing_6yy4.png') %>
				</div>
			</div>
		</div>
	</div>

</div>

